@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;

header {
  margin: 0;
}

.left {
  display: grid !important;
  gap: 1rem !important;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  align-items: center;

  .page-title {
    grid-area: 1 / 1 / 2 / 3;
  }

  .search {
    grid-area: 2 / 1 / 3 / 2;
  }

  .darkmode {
    grid-area: 2 / 2 / 3 / 3;
  }

  .toc {
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .recent-notes:nth-last-child(2) {
    grid-area: 3 / 1 / 3 / 3;
  }

  .recent-notes:nth-last-child(1) {
    grid-area: 4 / 1 / 4 / 3;
  }

  @media all and (max-width: $fullPageWidth) {
    display: flex !important;

    .darkmode {
      margin: 0;
    }
  }
}

article {
  ul {
    margin-block-start: -0.8em;
    padding-inline-start: 30px;
  }
  li {
    line-height: 2rem;
  }

  li > strong {
    color: var(--dark);
  }
}
